{% extends "layout-with-sidebar.html" %}

{% block body %}
    <!--suppress HtmlFormInputWithoutLabel -->
<div class="row">
        <div class="col-md-11 col-12">
            <h3>DASHBOARD</h3>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8 col-12">
            <p>Initial dashboard for business with ID: {{ business_id }}</p>
        </div>
    </div>

    <!--Include the JS files (lazy loading)-->
    <!--suppress HtmlUnknownTarget -->
    <script src="{{ url_for('static', filename='js/customAPICaller.js') }}"></script>
    <!--suppress HtmlUnknownTarget -->
    <script src="{{ url_for('dashboard_bp.static', filename='js/dashboard.js') }}"></script>
{% endblock %}
