<nav class="side-nav-bar navbar navbar-expand-md col-md-2 col-12">
    <div class="col-md-12 col-12">
        <div class="row">
            <div class="navbar-brand offset-md-3 col-md-6 col-12">
                <!--suppress HtmlUnknownTarget -->
                <a href="/">
                    <img class="lipa-less-logo"
                        src="{{ url_for('static', filename='imgs/icons/LipaLess.png') }}">
                </a>

                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbar-dropdown"
                        aria-controls="navbar-dropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-dark navbar-toggler-icon"></span>
                </button>
            </div>

            <div id="navbar-dropdown" class="col-12 collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li>
                            {% if session.business_name %}
                                <p>Business: {{ session.business_name }}</p>
                            {% endif %}
                            <p>
                                Logged in as {{ current_user.name }}
                                {% if session.role %}
                                    <span>({{ session.role }})</span>
                                {% endif %}
                            </p>
                        </li>
                        {% if session.business_id %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('dashboard_bp.dashboard') }}">
                                    Dashboard
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                {% if session.role == OWNER_ROLE_NAME or session.role == ADMIN_ROLE_NAME %}
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Stock
                                    </a>
                                {% endif %}
                                <div class="dropdown-menu" aria-labelledby="navBarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('products_bp.products') }}">
                                        Products
                                    </a>
                                    <a class="dropdown-item" href="{{ url_for('categories_bp.manage_categories') }}">
                                        Categories
                                    </a>
{#                                    <a class="dropdown-item" href="{{ url_for('suppliers_bp.manage_suppliers') }}">#}
{#                                        Suppliers#}
{#                                    </a>#}
{#                                    <a class="dropdown-item" href="{{ url_for('manufacturers_bp.manufacturers') }}">#}
{#                                        Manufacturers#}
{#                                    </a>#}
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if session.role == OWNER_ROLE_NAME %}
                        <a class="nav-link" href="{{ url_for('billing_bp.billing') }}">
                            Billing
                        </a>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout_bp.logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
