{% extends "layout-with-sidebar.html" %}

{% block body %}
    <!--suppress HtmlFormInputWithoutLabel -->
<div class="row">
        <div class="col-md-11 col-12">
            <h3>LOG IN</h3>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8 col-12">
            <form class="login-form container-fluid">
                <!--Login Information section-->
                <div class="row">
                    <div class="login-information col-md-12 col-12">
                        <!--Username section-->
                        <div class="row">
                            <div class="offset-md-2 col-md-4 col-12">
                                <label>
                                    Username
                                </label>
                            </div>
                            <div class="col-md-6 col-12">
                                <input name="username" type="text" required>
                            </div>
                        </div>

                        <!--Password section-->
                        <div class="row">
                            <div class="offset-md-2 col-md-4">
                                <label>
                                    Password
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input name="password" type="password" required>
                            </div>
                        </div>

                        <!--Login and Clear-->
                        <div class="form-btn-area row">
                            <div class="col-md-6">
                                <input class="sign-up-btn lipa-less-btn"
                                       value="LOGIN"
                                       type="submit">
                            </div>

                            <div class="col-md-6">
                                <input class="clear-btn" type="reset" value="Clear">
                            </div>
                        </div>

                        <div style="text-align: left" class="col-md-12">
                            <p>
                                Don't have an account? <a href="/signup">Signup</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
