@font-face {
	font-family: "Avenir Next";
	src: url("fonts/avenir-next/AvenirNextLTPro-Regular.otf");
}

.app-logic-box img {
	width: 60%;
	margin-bottom: 5%;
}

.app-logic-box, .lipa-less-logo,
.business-information, .owner-information {
	border: 1px solid #bfbfbf;
}

.app-logic-box {
	width: 60%;
	padding: 5%;
	margin-bottom: 2%;
	box-shadow: 1px 1px 1px #6c757d;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body {
	font-family: "Avenir Next", sans-serif;
	height: inherit;
}

.body {
	height: 100% !important;
}

.business-information, .owner-information {
	padding-left: 4%;
	padding-right: 4%;
}

.business-information .row,
.owner-information .row {
	margin-top: 2%;
	margin-bottom: 2%;
}

.business-information p,
.owner-information p {
	color: #a8a8a8 !important;
}

.business-information label,
.owner-information label {
	margin-left: 20%;
	font-weight: bold;
}

.clear-btn {
	padding: 2% 4%;
}

.container {
	margin: 0;
	max-width: inherit;
}

.content {
	height: inherit;
}

.form-btn-area {
	margin-top: 10% !important;
	text-align: center;
}

h3 {
	font-weight: bold;
}

.header, .side-nav-bar {
	background-color: #303133;
	padding: 1%;
}

.header p, span {
	color: white;
}

html {
	height: 100%;
}

.lipa-less-btn {
	text-decoration: none !important;
	background-color: #00b39c;
	color: white;
	border-radius: 4px;
}

.lipa-less-btn:hover {
	color: white;
}

.lipa-less-logo {
	width: inherit;
	border-radius: 50%;
	background-color: white;
}

.login-btn {
	padding: 1.5%;
	margin-left: 5px;
}

.main-content {
	padding: 2%;
	text-align: center;
	height: 100vh;
	overflow-y: scroll;
}

.main-content p {
	color: black;
}

.owner-information {
	margin-top: 3%;
}

p {
    color: #406e84;
}

.side-nav-bar {
	height: 100% !important;
}

.sign-up-btn {
	padding: 1.5% 7%;
	text-align: center;
}

.signup-form {
	text-align: left;
}

.signup-form .sign-up-btn, .clear-btn {
	border: None;
}

.sticky {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1;
}

#welcome-message {
	text-align: center;
	color: #303133;
	font-size: 23px;
}
