{% extends "layout-with-sidebar.html" %}

{% block body %}
    <div class="row" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
         xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
         xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="col-12">
            <h3>SALES</h3>

            <template id='my-template'>
                <div class='input-group col' style='padding:0'>
                    <div class='input-group-prepend'>
                        <span class='input-group-text'><i class='fa fa-search'></i>&nbsp;[[ getCount() ]]</span>
                    </div>
                    <input type='text' class='form-control'
                        v-model='searchQuery'
                        placeholder='Search'
                        @keyup.enter='addItem'
                        @keyup.up='prevItem'
                        @keyup.down='nextItem'
                        @keyup.esc='close'
                    >
                    <select class='form-control d-inline' v-model='selectedItem' @change='manualChange'>
                        <option :disabled='firstDisabled' value=0>
                            <template v-if='addedItem == 0 && !firstDisabled'>=></template> [[ firstLabel ]]
                        </option>
                        <option v-for='item in searchedItems' :key='item.id' :value='item[returns]'>
                            <template v-if='addedItem == item[returns]'>=></template> [[ formOptionText(item) ]]
                        </option>
                    </select>
                </div>
            </template>
        </div>
    </div>

    <!-- Add line item -->
    <div id='productSelectionApp' class="row badge-dark" style="text-align: left; padding-bottom: 2%">
        <div class="col-12">
            <label for="products" style="width: 90%; padding-top: 2%">
                Item:
            </label>
            <input title="Select product" list="product-options"
                   name="products" v-model="selectedProduct" type="text">
            <datalist id="product-options"
                      title="Select product">
                <option
                    v-for="product in products"
                    :value="product.id">
                    [[ product.name ]]
                </option>
            </datalist>
        </div>

        <div class="col-4">
            <label>Quantity: </label>
            <input @keyup.enter="changePriceFromQuantity" title="Item Price"
                             name="item_quantity" v-model="quantity" type="number">
        </div>

        <div class="col-4">
            <label>Price: </label>
            <input title="Item code" name="item_price" v-model="price" type="number">
        </div>

        <div class="col-2">
            <button class="btn lipa-less-btn" title="Add Line Item" style="margin-top: 20%"
                    name="item_price" value="Add" v-on:click="addLineItem">Add</button>
        </div>
    </div>

    <!-- List of line items -->

    <div class="row">
        <div class="col-12">Items to be checked out: </div>
    </div>


    <form id="checkoutApp" class="row">
        <div class="col-9 table-responsive">
            <table class="table table-sm table-bordered table-hover">
                <thead class="table-head">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Remove</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Items -->
                    <tr>
                        <th scope="row">Bread</th>
                        <td>2</td>
                        <td>100</td>
                        <td><button class="lipa-less-btn">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Total and change -->
        <div id="totalApp" class="col-3">
            <table class="table table-sm table-bordered table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Total</th>
                        <td><input title="Total" type="number" v-model="total"></td>
                    </tr>
                    <tr>
                        <th scope="row">Amount Paid </th>
                        <td><input title="Amount paid" type="number" v-model="amountPaid"></td>
                    </tr>
                    <tr>
                        <th scope="row">Change</th>
                        <td><input title="Change" type="number" v-model="change"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>


    <script src="{{ url_for('checkout_bp.static', filename='js/checkout.js') }}"></script>

{% endblock %}
