{% extends "layout-with-sidebar.html" %}

{% block body %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <div class="row" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="col-md-11 col-12">
            <h3>LOG IN</h3>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8 col-12">
            <form id="login-form" class="container-fluid">
                <!--Login Information section-->
                <div class="row">
                    <div class="login-information col-md-12 col-12">
                        <!--Server response section-->
                        <div class="row">
                            <p id="server-responses" ref="serverResponses"></p>
                        </div>

                        <!--Email section-->
                        <div class="row">
                            <div class="offset-md-2 col-md-4 col-12">
                                <label>
                                    Email
                                </label>
                            </div>
                            <div class="col-md-6 col-12">
                                <input name="email"
                                       type="email"
                                       title="e.g. jondoe@gmail.com"
                                       pattern=".*@.*\..*"
                                       required>
                            </div>
                        </div>

                        <!--Password section-->
                        <div class="row">
                            <div class="offset-md-2 col-md-4">
                                <label>
                                    Password
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input name="password" type="password" required>
                            </div>
                        </div>

                        <!--Login and Clear-->
                        <div id="form-btn-area" class="row">
                            <div class="col-md-6 col-12">
                                <input id="login-btn" class="lipa-less-btn"
                                       value="LOGIN"
                                       type="submit"
                                       v-on:click.prevent="sendUserInfo">


                            </div>

                            <div class="col-md-6 col-12">
                                <input class="clear-btn" type="reset" value="Clear">
                            </div>
                        </div>

                        <div style="text-align: left" class="col-md-12">
                            <p>
                                Don't have an account? <!--suppress HtmlUnknownTarget -->
                                <a href="{{ url_for('signup_bp.signup') }}">Signup</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Include the JS files (lazy loading)-->
    <!--suppress HtmlUnknownTarget -->
    <script src="{{ url_for('static', filename='js/customAPICaller.js') }}"></script>
    <!--suppress HtmlUnknownTarget -->
    <script src="{{ url_for('login_bp.static', filename='js/login.js') }}"></script>
{% endblock %}
