<!--Add manufacturer Modal -->
<div class="modal fade" id="add-manufacturer-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Add Manufacturer
                </h4>
            </div>

            <form id="add-manufacturer-form" class="container-fluid"
                  method="POST"
                  action="#">
                <!--Server response section-->
                <div class="row">
                    <p id="manufacturer-server-responses"></p>
                </div>

                <!-- Manufacturer Information section-->
                <div class="row">
                    <div class="manufacturer-information col-md-12 col-12">
                        <!-- Manufacturer name-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <label>
                                            Name
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <input name="manufacturer-name" type="text"
                                               title="Name of the manufacturer" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Add manufacturer or clear-->
                        <div class="form-btn-area row">
                            <div class="col-md-6">
                                <input id="add-manufacturer-btn"
                                       class="lipa-less-btn"
                                       value="Create manufacturer"
                                       type="submit">
                            </div>

                            <div class="col-md-6">
                                <input class="clear-btn" type="reset" value="Clear" required>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of manufacturer Information section-->
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->