{% extends "layout-with-sidebar.html" %}

{% block body %}
    <!--suppress HtmlUnknownTarget, HtmlFormInputWithoutLabel -->
    <div class="row">
        <div class="col-md-11 col-12">
            <h3>SIGN UP</h3>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8 col-12">
            <div style="text-align: left" class="col-md-12">
                <p>
                    Already have an account? <a href="/login">Login</a>
                </p>
            </div>

            <form class="signup-form container-fluid">
                <!--Owner information section-->
                <div class="row">
                    <div class="owner-information col-md-12">
                        <div class="row">
                            <p>Owner information</p>
                        </div>
                        <!--Owner name-->
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Name
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input name="owner-name" type="text" required>
                            </div>
                        </div>

                        <!--Owner email-->
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Email
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input name="owner-email" type="email" required>
                            </div>
                        </div>

                        <!--Owner password-->
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Password
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input name="owner-password" type="password" required>
                            </div>
                        </div>

                        <!--Confirm password-->
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Confirm password
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input name="owner-confirm-password" type="password" required>
                            </div>
                        </div>

                        <!--Signup and Clear-->
                        <div class="form-btn-area row">
                            <div class="col-md-6">
                                <input class="sign-up-btn lipa-less-btn"
                                       value="SIGN UP"
                                       type="submit">
                            </div>

                            <div class="col-md-6">
                                <input class="clear-btn" type="reset" value="Clear" required>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Include the JS files (lazy loading)-->
    <script src="{{ url_for('signup_bp.static', filename='js/signup.js') }}"></script>
{% endblock %}
