{% extends "layout-with-sidebar.html" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>SUPPLIERS</h3>
        </div>

        <div class="offset-8 col-4" style="margin-bottom: 1%">
            <a id="add-new-supplier-btn" class="lipa-less-btn"
               href="{{ url_for('supplier_bp.supplier') }}">Add supplier</a>
        </div>

        <!-- List of suppliers -->
        <div class="col-12">
            <div id="suppliers-container" class="container">
                <div class="row">
                    <div class="offset-1 col-10 list-box">
                        {% if suppliers %}
                            <!-- Labels -->
                            <div class="row box-labels">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-3">
                                    <label>Contact Person</label>
                                </div>
                                <div class="col-3">
                                    <label>Contact Number</label>
                                </div>
                                <div class="col-3">
                                    <label>Edit</label>
                                </div>
                            </div>

                            <!-- Products -->
                            {% for supplier in suppliers %}
                                <div class="box-row row">
                                    <div class="col-3">
                                        <p>{{ supplier.name }}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>{{ supplier.contact_person }}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>{{ supplier.contact_number }}</p>
                                    </div>
                                    <div class="col-3">
                                        <button class="lipa-less-btn">Edit</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Sorry, no suppliers exist</p>
                            <p>Consider adding some</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Add supplier modal -->
            <div class="modal fade" id="add-supplier-modal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                Add Product
                            </h4>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}
