{% extends "layout-with-sidebar.html" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>ADD A NEW PRODUCT</h3>
                </div>
            </div>

            <form id="add-product-form" class="container-fluid"
                  method="POST"
                  action="#">
                <!--Server response section-->
                <div class="row">
                    <p id="product-server-responses"></p>
                </div>

                <!-- Product Information section -->
                <div class="row">
                    <div id="product-information" class="col-md-12 col-12">
                        <!--Product name -->
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <label>
                                    Product name
                                </label>
                            </div>
                            <div class="col-md-8 col-12">
                                <input name="product-name" type="text" title="Name of the new product" required>
                            </div>
                        </div>

                        <!--Product description -->
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <label>
                                    Description
                                </label>
                            </div>
                            <div class="col-md-8 col-12">
                                <textarea name="product-description" type="text"
                                          style="width: inherit" title="Short description the new product" required>
                                </textarea>
                            </div>
                        </div>

                        <!-- Product buying price and selling price -->
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <label>
                                    Buying price
                                </label>
                            </div>
                            <div class="col-md-3 col-12">
                                <input name="buying-price" type="number" title="Buying price of the new product" required>
                            </div>

                            <div class="col-md-2 col-12">
                                <label>
                                    Selling price
                                </label>
                            </div>
                            <div class="col-md-3 col-12">
                                <input name="selling-price" type="number"
                                       title="Selling price of the new product" required>
                            </div>
                        </div>

                        <!-- Quantity and Reorder level-->
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <label>
                                    Quantity
                                </label>
                            </div>
                            <div class="col-md-3">
                                <input name="quantity" type="number"
                                       title="Number of units of the new product" required>
                            </div>

                            <div class="col-md-2">
                                <label>
                                    Reorder level
                                </label>
                            </div>
                            <div class="col-md-3">
                                <input name="reorder-level" type="number"
                                       title="Minimum amout that should be in stock before sending
                                       'running out of stock' notification"
                                       required>
                            </div>
                        </div>

                        <!-- Expiration date -->
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Expires on
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input name="expiration-date" type="date"
                                       title="Expiry date of the new product" required>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Category
                                </label>
                            </div>
                            <div class="col-md-8">
                                <select id="category-options" name="category" title="Classification of the new product">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>>> create a new category?
                                    <span id="create-category-btn" class="create-link">
                                        New category
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- Supplier -->
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Supplier
                                </label>
                            </div>
                            <div class="col-md-8">
                                <select id="supplier-options" name="supplier" title="Who suppliers the product?">
                                    {% for supplier in suppliers %}
                                        <option value="{{ supplier.id }}">
                                            {{ supplier.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>>> create a new supplier?
                                    <span id="create-supplier-btn" class="create-link">
                                        New supplier
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- Manufacturer -->
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Manufacturer
                                </label>
                            </div>
                            <div class="col-md-8">
                                <select id="manufacturer-options" name="manufacturer" title="Who manufactures the product?">
                                    {% for manufacturer in manufacturers %}
                                        <option value="{{ manufacturer.id }}">
                                            {{ manufacturer.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>>> create a new manufacturer?
                                    <span id="create-manufacturer-btn" class="create-link">
                                        New manufacturer
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!--Add product and Clear-->
                        <div class="form-btn-area row">
                            <div class="offset-md-6 col-md-3 col-12">
                                <input id="add-product-btn"
                                       class="lipa-less-btn"
                                       value="Add product"
                                       type="submit">
                            </div>

                            <div class="col-md-3 col-12">
                                <input class="clear-btn" type="reset" value="Clear" required>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Product Information section-->
            </form>
        </div>
    </div>

    {% include "modals/add_category_modal.html" %}

    {% include "modals/add_supplier_modal.html" %}

    {% include "modals/add_manufacturer_modal.html" %}

    <!--suppress HtmlUnknownTarget -->
    <script src="{{ url_for('static', filename='js/customAPICaller.js') }}"></script>
    <!--Include the JS files (lazy loading)-->
    <script src="{{ url_for('product_bp.static', filename='js/products.js') }}"></script>
{% endblock %}